.gridGenre{
  position:fixed;
  background-color: white;
  top:44px;
  right:34px;
  left:82px;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: auto;
}
/* hide scroll bar but keeps functionality
Chrome, Safari and Opera */
.gridGenre::-webkit-scrollbar {
  display:none;
}
/* hide scroll bar but keeps functionality
IE, Edge and Firefox */
.gridGenre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gridGenre button{
  font-size: 12px;
  border-style: none;
  border-radius: 4px;
  padding: 5px;
  color: black;
  background-color: rgb(242,242,242);
  cursor: pointer;
}

.gridGenre button:active {
  background-color: black;
  color: white;
}
.genreButtons:focus {
  background-color: black;
  color: white;
}

@media (min-width: 1150px) {
  .gridGenre {
    left: 180px;
  }
}