.youtube-header-container {
  display:flex;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  height: 44px;
}

.leftSection {
  display:flex;
  justify-content: space-evenly;
  /* background-color: lightblue; */
  min-width: 200px;
  margin-right: 20px;

}

.hamburger-icon,
.youtube-premium-icon,
.create-button-icon,
.notification-button-icon,
.account-button-icon,
.search-button-icon,
.microphone-button-icon {
  cursor:pointer;
}

.middleSection {
  flex: 1;
  display: flex;
  max-width: 700px;
}

.searchInput {
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 22px 0 0 22px;
  /* have to set width to 0 as default is 100px (size = 20) */
  width: 0px;
  margin:0;
  padding-left: 10px;
  flex:1;
  font-size: 18px;
}

.searchInput::placeholder {
  font-size: 18px;
}

.searchButton {
  display:flex; 
  justify-content:center; 
  align-items:center;
  margin:0 0 0 -1px;
  width:60px;
  border-radius: 0 22px 22px 0;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(248, 248, 248) ;

}

.search-button-icon {
  width: 25px;
}

.microphoneButton {
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0;
  margin-left: 10px;
  width: 44px;
  border-radius: 25px;
  border-style: none;
  background-color: rgb(249, 249, 249);
}

.microphone-button-icon {
  width: 25px;
}

.rightSection {
  display:flex;
  justify-content: center;
  min-width: 200px;
  margin-left: 20px;
  align-items: center;
}

.createButton, 
.notificationButton,
.accountButton {
  width: 35px;
  background-color: white;
  border-style: none;
}

.notificationButton {
  display:flex;
  justify-content: center;
  width: 55px;
}
.notification-button-icon{

}

.notification-button-counter {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  color: white;
  margin-left: -12px;
  background-color: red;
}

.account-button-icon {
  width: 30px;
  border-radius: 19px;
}
