.sidebarContainer {

  display: flex;
  flex-direction: column;

}
.sidebarTop,
.sidebarBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 66px;
  font-size: 10px;
  /* Add this margine-left:6px to the grid section so that this bottom border under Youtube Music
   looks evenly spaced */
   background-color: white;
  position:fixed;
  left:6px;
  top:44px;

}

.sidebarTop {
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}
.sidebarBottom {
  visibility: hidden;
}

.sidebarElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.sidebarIcon {
  width: 25px;
  margin-bottom: 5px;
}

/* @media (min-width: 1400px) {
  .sidebarTop,
  .sidebarBottom {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 66*2px;
  }
} */