.sidebarContainer {

  display: flex;
  flex-direction: column;

}
.sidebarTop,
.sidebarBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-size: 10px;
  /* Add this margine-left:6px to the grid section so that this bottom border under Youtube Music
   looks evenly spaced */
  margin-left: 6px;

}

.sidebarTop {
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}

.sidebarHome,
.sidebarShorts,
.sidebarSubs,
.sidebarMusic,
.sidebarOriginals,
.sidebarLibrary,
.sidebarHistory,
.sidebarYourVideos,
.sidebarYourMovies,
.sidebarWatchLater,
.sidebarMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.sidebarMusic {
}

.home-icon,
.shorts-icon,
.subs-icon,
.originals-icon,
.music-icon,
.library-icon,
.history-icon,
.yourvideos-icon,
.yourmovies-icon,
.watchlater-icon,
.more-icon {
  width: 25px;
  margin-bottom: 5px;
}