.gridVideo {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.thumbDiv{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}


.videoCard img{
  width: 100%;
  border-radius: 16px;
}

.videoLength {
  position: absolute;
  right:10px;
  bottom: 10px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.videoCardDetails {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
}

.channelIcon img {
  cursor: pointer;
  width: 100px;
  border-radius: 50px;
}

.videoDetails {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.videoTitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.authorContainer {
  display: flex;
  height: 20px;
  align-items: center;
  color: gray;
}

.videoAuthor {
  display: inline-block;
  margin-right: 20px;
}

.verifiedIcon {
  opacity: .4;
  margin: -18px;
}
.videoStats  {
  margin: 0;
  color: gray;
}

@media (min-width: 0) {
  .gridVideo {
    grid-template-columns: 1fr;
    height: 100vh;
  }
  .videoDetails {
    font-size: 4vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }

@media (min-width: 1100px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr;
    height: 700px;
  }

  .videoDetails {
    font-size: 30px;
  }
}

@media (min-width: 1500px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1800px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
