.gridVideo {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 200px;
}

.videoCard {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.videoCard img{
  width: 100%;
  border-radius: 16px;
}

.videoLength {
  position: absolute;
  right:10px;
  bottom: 94px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

.videoCardDetails {
  margin-top: 10px;
  display: flex;
}

.channelIcon img {
  width: 28px;
}

.videoDetails {
  margin: 0;
  margin-left: 10px;
  font-size: 12px;
}

.videoTitle {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  max-height: 30px;
  overflow: hidden;
  line-height: 15px;
}

.authorContainer {
  display: flex;
  height: 20px;
  align-items: center;
  color: gray;
}

.videoAuthor {
  display: inline-block;
  margin-right: 20px;
}

.verifiedIcon {
  opacity: .4;
  margin: -18px;
}
.videoStats  {
  margin: 0;
  color: gray;
}

@media (min-width: 0) {
  .gridVideo {
    grid-template-columns: 1fr;
  }
  .videoLength {
    bottom: 84px;
  }
}

@media (min-width: 650px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr;
  }
  .videoLength {
    bottom: 94px;
  }
}

@media (min-width: 900px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1250px) {
  .gridVideo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
